In [54]:
import pandas as pd
import datetime as dt

## Базовые операции с DataFrame:

**1.1** В файлах `recipes_short.csv` и `reviews_short.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца(ов) с индексами.

In [55]:
def dateparse(date):
    return dt.datetime.strptime(date, '%Y-%m-%d')


recipes = pd.read_csv("./src/tables/recipes_sample.csv",
                      parse_dates=['submitted'], date_parser=dateparse)
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [82]:
reviews = pd.read_csv("./src/tables/reviews_sample.csv", index_col=0,
                      parse_dates=['date'], date_parser=dateparse)
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

**1.2**
Для каждой из таблиц выведите основные параметры: 
- количество точек данных (строк)
- количество столбцов
- тип данных каждого столбца

In [57]:
print(len(recipes), 'строк')
print(len(recipes.columns), 'столбцов')
print()
print(recipes.dtypes)

30000 строк
8 столбцов

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

**1.3**
Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [58]:
print(recipes.isnull().any(axis=0))
recipes[recipes.isnull().any(axis=1)].shape[0] / recipes.shape[0]

name              False
id                False
minutes           False
contributor_id    False
submitted         False
n_steps            True
description        True
n_ingredients      True
dtype: bool

0.5684666666666667

**1.4**
Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [59]:
recipes[['minutes', 'n_steps', 'n_ingredients']].mean()

minutes          123.358133
n_steps            9.805582
n_ingredients      9.008286
dtype: float64

**1.5**
Создайте серию из 10 случайных названий рецептов.

In [60]:
recipes['name'].sample(10)

4195                         buttermilk blueberry pancakes
23722            scrambled eggs hotel style    very simple
450                alissa cohen s broccoli soup  raw foods
6281      chilled cantaloupe peach soup with ginger   mint
6081                         chicken with orange and honey
20140                                    peach praline pie
11629                                         fruit sundae
19610    oven baked chicken and potatoes with lemon and...
4497                  campbell s skillet beef and macaroni
20218                     peanut butter candy corn cookies
Name: name, dtype: object

**1.6**
Измените индекс в таблице reviews, пронумеровав строки, начиная с нуля.

In [61]:
reviews.reset_index(drop=True, inplace=True)
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

**1.7**
Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [62]:
recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

---
## Работа с датами в pandas:

**2.1**
Преобразуйте столбец submitted из таблицы recipes в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате

In [63]:
# def dateparse(date):
#     return dt.datetime.strptime(date, '%Y-%m-%d')


# recipes['submitted'] = recipes['submitted'].apply(dateparse)
# recipes

# Для работы отключить автопарсинг

**2.2**
Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [64]:
recipes[recipes['submitted'] < dt.datetime(2011, 1, 1)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

---
## Работа со строковыми данными в pandas

**3.1**
Добавьте в таблицу recipes столбец description_length, в котором хранится длина описания рецепта из столбца description.

In [65]:
recipes['description_length'] = recipes['description'].apply(
    lambda x: len(str(x)))
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

**3.2**
Измените название каждого рецепта в таблице recipes таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [66]:
recipes['name'] = recipes['name'].apply(str.title)
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125

**3.3**
Добавьте в таблицу recipes столбец name_word_count, в котором хранится количество слов из названии рецепты (считайте, что слова в названии разделяются только пробелами).

In [67]:
recipes['name_word_count'] = recipes['name'].apply(
    lambda x: len(str(x).split()))
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125,7

---
## Часть 2

**4.1**
Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [68]:
recipes.groupby('contributor_id')['id'].count().sort_values(ascending=False)

contributor_id
89831         421
37449         346
37779         345
1533          186
169430        183
             ...
245835          1
245653          1
245590          1
245378          1
2002247884      1
Name: id, Length: 8404, dtype: int64

**4.2**
Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутсвуют отзывы?

In [69]:
reviews.groupby('recipe_id')['rating'].mean()
print(len(recipes) - len(reviews['recipe_id'].unique()))

1900

**4.3**
Посчитайте количество рецептов с разбивкой по годам создания.

In [70]:
recipes['submitted'].apply(lambda x: x.strftime('%Y')).value_counts()

2007    4429
2008    4029
2006    3473
2005    3130
2009    2963
2002    2644
2003    2334
2004    2153
2010    1538
2011     922
2012     659
2001     589
2013     490
1999     275
2014     139
2000     104
2015      42
2017      39
2016      24
2018      24
Name: submitted, dtype: int64

**5.1** При помощи объединения таблиц, создайте DataFrame, состоящий из четырех столбцов: id, name, user_id, rating. Рецепты без отзывов должны отсутствовать в данной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного DataFrame, содержащую информацию об этом отзыве.

In [112]:
task51 = pd.merge(recipes, reviews, left_on='id', right_on='recipe_id')[
    ['id', 'name', 'user_id', 'rating']]
task51

            id                                    name  user_id  rating
0        44123   George S At The Cove  Black Bean Soup   743566       5
1        44123   George S At The Cove  Black Bean Soup    76503       5
2        44123   George S At The Cove  Black Bean Soup    34206       5
3        67664      Healthy For Them  Yogurt Popsicles   494084       5
4        67664      Healthy For Them  Yogurt Popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco Soup   305531       5
126692  486161                             Zydeco Soup  1271506       5
126693  486161                             Zydeco Soup   724631       5
126694  486161                             Zydeco Soup   133174       5
126695  298512  Cookies By Design   Cookies On A Stick   804234       1

[126696 rows x 4 columns]

**5.2** При помощи объединения таблиц и группировок, создайте DataFrame, состоящий из трех столбцов: recipe_id, name, review_count. У рецептов, для которых отсутствуют отзывы, в соответствущем столбце должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного DataFrame, содержащую информацию об этом отзыве.

In [111]:
temp = reviews['recipe_id'].value_counts().rename('reviews_count')
task52 = pd.merge(recipes, temp, left_index=True, right_index=True)
task52

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count,reviews_count
48,Good Morning Muffins,39172,40,40493,2002-09-03,NaN,i first tasted these muffins at a brunch and t...,NaN,220,3,2
55,Magic Chicken Noodle Soup,376813,40,1292969,2009-06-11,9.0,my mom taught me how to make from scratch chic...,10.0,320,4,4
66,Skinny Fries,250232,50,133174,2007-09-02,10.0,this recipe comes from the new american diet c...,4.0,183,2,18
91,Tasty Dish S Banana Pudding In 2 Minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0,116,8,4
94,1 Minute Meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0,224,3,4
...,...,...,...,...,...,...,...,...,...,...,...
29907,Zucchini And Noodle Slice,412518,60,423555,2010-02-10,21.0,"a yummy, tasty slice packed with vegies and ri...",13.0,482,4,1
29910,Zucchini And Tuna Pappardelle,460751,35,50509,2011-07-23,NaN,think of this recipe as a roadmap - salmon or ...,15.0,269,4,1
29912,Zucchini Basil Muffins,378410,30,283251,2009-06-23,NaN,from just hungry - they adapted it from bernar...,10.0,86,3,14
29932,Zucchini Cutlets,39047,40,5060,2002-09-02,5.0,"another way to use up that zucchini, a nice di...",12.0,154,2,4
29977,Zucchini Wheat Germ Cookies,174719,30,135870,2006-06-26,7.0,since i have an abundance of zucchini in my ga...,14.0,212,4,50

**5.3** Выясните, отзывы, добавленные в каком году, имеют наименьший средний рейтинг?

In [93]:
reviews['year'] = reviews['date'].apply(lambda x: x.strftime('%Y'))
reviews.groupby('year').mean()['rating'].sort_values()

C:\Users\DaSh-More\AppData\Local\Temp\ipykernel_16696\838641256.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  reviews.groupby('year').mean()['rating'].sort_values()

year
2017    3.353042
2000    3.384615
2018    3.504076
2016    3.912603
2015    4.047145
2014    4.110595
2001    4.134426
2013    4.274168
2011    4.302045
2012    4.341427
2010    4.454440
2002    4.481556
2008    4.484635
2009    4.524728
2003    4.526940
2004    4.546548
2007    4.547077
2005    4.563680
2006    4.603673
Name: rating, dtype: float64

**6.1** Отсортируйте таблицу в порядке убывания величины столбца name_word_count и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [ ]:
recipes.sort_values(by='name_word_count', ascending=False).to_csv('3133.csv')

**6.2** Воспользовавшись pd.ExcelWriter, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты` с оценками сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [114]:
path = './src/tables/5152.xlsx'
with pd.ExcelWriter(path, engine='openpyxl') as writer:
    task51.to_excel(writer, sheet_name='Рецепты с оценками')
    task52.to_excel(writer, sheet_name='Количество отзывов по рецептам')